{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <title>Django REST Framework - View Template</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
